[[source]]
name = "pypi"
url = "https://pypi.doubanio.com/simple"
verify_ssl = true

[dev-packages]

[packages]
twine = "*"
pandas = "*"
matplotlib = "*"
demjson = "*"
jsonpath = "*"
bs4 = "*"
pil = "*"
pillow = "*"

[requires]
python_version = "3.7"
